# Copy to .env or set as Replit/Vercel/Render secrets
ROBLOX_OPEN_CLOUD_KEY=z+WCJh/KN0ewLlZHKN2BovdJGL5aVDxjWVsCo6hWrZV+aN9AZXlKaGJHY2lPaUpTVXpJMU5pSXNJbXRwWkNJNkluTnBaeTB5TURJeExUQTNMVEV6VkRFNE9qVXhPalE1V2lJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaGRXUWlPaUpTYjJKc2IzaEpiblJsY201aGJDSXNJbWx6Y3lJNklrTnNiM1ZrUVhWMGFHVnVkR2xqWVhScGIyNVRaWEoyYVdObElpd2lZbUZ6WlVGd2FVdGxlU0k2SW5vclYwTkthQzlMVGpCbGQweHNXa2hMVGpKQ2IzWmtTa2RNTldGV1JIaHFWMVp6UTI4MmFGZHlXbFlyWVU0NVFTSXNJbTkzYm1WeVNXUWlPaUl6TlRJd01UazBJaXdpWlhod0lqb3hOelU0TVRRME9EWTBMQ0pwWVhRaU9qRTNOVGd4TkRFeU5qUXNJbTVpWmlJNk1UYzFPREUwTVRJMk5IMC5WYmJHS2djT2NQTUw1TWloT0VnbjVzTE9aRno3MFh0akw1LVlFVkxJMkticTROUFA0OUt5V1pVU2dDeVFGZnVwSmstQnZMdW16TDFQVlBBOURJOHRRTnpneEtzVlhTT0QtNUQxdk02ak9hWUVmNVZRYnZDeGNNeTVmVWYxd203aGdwTlU0OEVkUm1wYVd1YWtXZ2JvUHFMYkNpNWlRM1FvTVpqclEwWVdsYUJ2eGRxRVdzZkRwcGZzdS1VSjRYTUhKVkFPOWxzRktJazBDelE3RkJHaHFhWVFjZGJzdF8zN191eDczZHViWDVjVXI2a3RrRFVCaUNqZ1NLVXlpcXZlSmZEREdYdEZ3V2QwM0J4SzNsSUdRU3RGZDFuOGRhX2s1clY5R1QyRnFWQUItX0pjQjRkM0lnTGF2MTIxdjNMYU1pLUhySHg4aE9UVXRfYmZEdG1mWmc=
PORT=3000
# Optional: shared secret header so only your game can call this backend
SHARED_SECRET=make_a_random_long_string
# Optional: override if Roblox changes domains
OPEN_CLOUD_BASE=https://apis.roblox.com
